.spinner {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  margin-top: 64px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  animation-timing-function: cubic-bezier(0.75, 0.2, 0.5, 1);
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.skeleton-loader-wrapper {
  background-color: #4a545e;
  border-radius: 10px;
  width: 46%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-self: center;
  align-self: center;
  // padding: 8px;
  margin: 8px;
  box-shadow: none;
  overflow: hidden;
  position: relative;

  .skeleton {
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    overflow: hidden;
    position: relative;
    background-color: #4a545e;
    background: linear-gradient(
        to right,
        rgb(143, 142, 141) 0%,
        rgb(237, 235, 233) 50%,
        rgb(143, 142, 141) 100%
      )
      0 0 / 200% 100% #4a545e;
    animation: linearAnim 1.25s infinite linear;
  }

  #mask {
    padding: 8px 0px 8px 8px;
    margin: 8px;
  }
}

@keyframes linearAnim {
  100% {
    background-position: -200% 0;
  }
}
