
$item-bg: darken(#282c34, 3%);
$skeleton-color: lighten($item-bg, 7%);

.spinner {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  margin-top: 64px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  animation-timing-function: cubic-bezier(0.75, 0.2, 0.5, 1);
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.skeleton-loader-wrapper {
  background-color: $item-bg;
  border-radius: 10px;
  width: 46%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-self: center;
  align-self: center;
  // padding: 8px;
  margin: 8px;
  box-shadow: none;
  overflow: hidden;
  position: relative;

  @media (min-width: 768px) and (max-width: 991px) {
    width: 80%;
  }

  @media (max-width: 767px) {
    width: 100%;
  }

  .skeleton {
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
      // background: linear-gradient(90deg, #f0f0f0, #e0e0e0, #f0f0f0) 0 0/ 100vh 100% fixed;

    animation: linearAnim 1s linear infinite;
    animation-direction: alternate;
    
  }

  .skeleton-mask {
    background-color: $item-bg;
    padding: 0px;
    display: flex;
    width: 100%;
    border-radius: 10px;
    margin: 0;
    border: none;
    box-shadow: none;
    height: auto;
    flex-direction: column;
    position: relative;
    align-items: center;

    .skeleton-content {
      position: relative;
      display: flex;
      padding: 8px 0px 8px;
      width: 100%;
      height: auto;
      justify-content: space-between;

      @media (max-width: 768px) {
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 8px;
        align-items: center;
        align-content: center;
      }

      
      .skeleton-block {
        background-color: $item-bg;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 8px 32px 8px 32px;
        margin-left: 8px;
        margin-right: 8px;
        justify-content: flex-start;
        align-items: flex-start;

        @media (max-width: 768px) {
          width: 95%;
          flex-direction: row;
          align-items: center;
          align-content: center;
          flex-wrap: wrap;
          justify-content: center;
          margin-bottom: 16px;
        }

        .skeleton-item{
          display: flex;
          background-color: $skeleton-color;
          background: linear-gradient(
            to right,
            #2f3b44 0%,
            lighten($item-bg, 4%) 50%,
            $skeleton-color 100%
          )
          0 0 / 200% 100% #18222b;
          animation: animateBg 1s linear infinite;
          animation-direction: alternate;
          flex-direction: column;
          align-items: flex-end;

          @media (max-width: 768px) {
            width: 40% !important;
            align-items: center;
            justify-content: space-between;
            margin-left: 8px !important;
            margin-right: 8px !important;
          }
        }
      }
    }

    .skeleton-expand {
      padding: 12px;
      display: inline-flex;
      position: relative;
    }

  }
}

@keyframes linearAnim {
   0% {
      opacity: .2;
      transform: translateY(6px) scale(0.98);
   }
   85%, 100%{
      opacity: 1;
      transform: translateY(0px) scale(1);
   }
}

@keyframes animateBg {
 100% {
  background-position: -200% 0;
 }
}
