# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/server/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build


# /src/media/images/forecast
/src/media/images/forecast/backup

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/.env
src/media/images/forecast/DSC_0087.png
src/media/images/forecast/DSC_0093.png
src/media/images/forecast/DSC_0094.png
src/media/images/forecast/overcast_clouds_with_rain.png
