.btn {
  height: 40px;
  min-width: 60px;
  width: 100px;
  border: 0;
  border-radius: 50px;
  font-size: 16px;
  margin: 0 8px;
  outline: none;
  cursor: pointer;

  &.primary {
    background-color: #2851a3;
    color: #ecf3ff;

    &:hover {
      background-color: #1877f2;
    }

    &:focus {
      outline: 1px solid #b1b3b8;
      // outline-ra
    }
  }
}
