@import '../../mixins.scss';


.card-group {
  .weather-card-wrapper {
    background-color: #242526;
    border-radius: 10px;
    width: 46%;
    height: 100%;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8px 32px 8px 32px;
    margin: 8px;
    display: flex;
    font-size: 17px;
    font-weight: 400;
    // background-size: cover;
    box-shadow: none;

    @media (max-width: 992px) {
      width: 100%;
      height: 100%;
      background-size: auto;
      flex-direction: column;
      padding: 8px;
      align-items: center;
      align-content: center;
    }

    @media (min-width: 767px) and (max-width: 991px) {
      width: 80%;
      height: 100%;
      background-size: auto;
      flex-direction: column;
      padding: 16px;
      align-items: center;
      align-content: center;
    }

    .current-weather-info {
      .weather-card-temp {
        &.current {
          font-size: 1.5em;
        }
      }
      @media (max-width: 768px) {
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 8px;
        align-items: center;
        align-content: center;
      }
    }

    .weather-card-disclaimer {
      margin-top: 16px;
    }
    
    &.clear-sky {
      background-image: url('../../media/images/forecast/clear_sky.png');
      background-size: auto;
      @include animate(clearSky, 0%, 50%, 100%, 60%, 0%, 25%, 600s);

      @media screen and (max-width: 768px) {
        background-size: auto;
      }
    }

    &.overcast-clouds {
      background-image: url('../../media/images/forecast/overcast_clouds.png');
      background-size: auto;
      @include animate(overcastClouds, 0%, 100%, 100%, 100%, 0%, 80%, 800s);

      @media screen and (max-width: 768px) {
        background-size: auto;
      }
    }

    &.few-clouds {
      background-image: url('../../media/images/forecast/few_clouds.png');
      background-size: auto;
      @include animate(fewClouds, 0%, 90%, 100%, 60%, 0%, 25%, 600s);

      @media screen and (max-width: 768px) {
        background-size: auto;
      }
    }

    &.moderate-rain {
      // background-image: url('../../media/images/forecast/light_rain.png');
      @include animate(moderateRain, 0%, 90%, 100%, 60%, 0%, 25%, 300s);
    }

    &.broken-clouds {
      background-image: url('../../media/images/forecast/overcast_clouds.png');
      @include animate(brokenClouds, 0%, 90%, 100%, 60%, 0%, 25%, 300s);
    }

    &.light-rain {
      // background-image: url('../../media/images/forecast/light_rain.png');
      background-size: cover;
      // animation: animatedBackgroundVertical 60s linear infinite;
      // animation-fill-mode: forwards;
    }

    .weather-card-accordion-summary {
      padding: 0px;
      display: flex;
      flex-direction: column;

      .summary {
        display: flex;
        padding: 0;
        margin: 0;
        width: 100%;
        justify-content: space-between;

        @media (max-width: 768px) {
          padding: 0;
          margin: 0;
          flex-direction: column;
          align-items: center;
          align-content: center;
        }
      }

      .expanded {
        margin: 0;
      }
    }

    .weather-card-title,
    .weather-card-description {
      mix-blend-mode: difference;
      margin: 8px 0 8px;
      filter: contrast(0.1);
    }

    .weather-card-temp-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      mix-blend-mode: difference;
      filter: contrast(0.3);

      .weather-card-temp {
        margin-top: 16px;
      }

      @media (max-width: 768px) {
        width: 95%;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 16px;
      }

      // .temp-hot,
      // .temp-cold,
      // .temp-humidity {
      //   vertical-align: middle;
      //   margin-left: 4px;
      //   margin-right: 8px;
      // }
    }

    .weather-card-sunrise-sunset {
      display: flex;
      flex-direction: column;
      mix-blend-mode: difference;
      align-items: flex-end;
      filter: contrast(0.3);

      @media (max-width: 768px) {
        width: 95%;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        justify-self: center;
      }

      @media (max-width: 600px) {
        width: 95%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
      }

      .weather-card-sunrise,
      .weather-card-sunset {
        margin-top: 16px;
      }
    }
    .weather-card-overview {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @media (max-width: 768px) {
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }

      .weather-card-icon-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        vertical-align: middle;
        justify-content: space-evenly;

        .weather-card-icon {
          width: 65px;
          height: auto;
          margin-left: -16px;
        }
      }
    }
  }
}



