@import "../../mixins.scss";

.card-group {
  .weather-card-wrapper {
    background-color: #242526;
    border-radius: 10px;
    width: 46%;
    height: 100%;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8px 32px 8px 32px;
    margin: 8px;
    display: flex;
    font-size: 17px;
    font-weight: 400;
    // background-size: cover;
    box-shadow: none;

    @media (max-width: 1200px) {
      width: 75%;
    }

    @media (max-width: 992px) {
      width: 100%;
      height: 100%;
      background-size: auto;
      flex-direction: column;
      // padding: 8px;
      margin: 8px 0px;
      align-items: center;
      align-content: center;
    }

    @media (min-width: 767px) and (max-width: 991px) {
      width: 80%;
      height: 100%;
      background-size: auto;
      flex-direction: column;
      padding: 16px;
      align-items: center;
      align-content: center;
    }

    .current-weather-info {
      .weather-card-temp {
        &.current {
          font-size: 1.5em;
        }
      }
      @media (max-width: 768px) {
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 0px;
        align-items: center;
        align-content: center;
      }
    }

    .weather-card-disclaimer,
    .weather-card-wind-speed,
    .weather-card-mist {
      margin-top: 16px;
    }

    &.clear-sky {
      background-image: url("../../media/images/forecast/clear_sky.png");
      background-size: cover;

      @media screen and (min-width: 992px) {
        @include animate(clearSky, 0%, 50%, 100%, 60%, 0%, 25%, 600s);
        background-size: auto;
      }
    }

    &.overcast-clouds {
      background-image: url("../../media/images/forecast/overcast_clouds.png");
      background-size: cover;

      @media screen and (min-width: 992px) {
        @include animate(overcastClouds, 0%, 100%, 100%, 100%, 0%, 80%, 800s);
        background-size: auto;
      }
    }

    &.few-clouds {
      background-image: url("../../media/images/forecast/few_clouds.png");
      background-size: cover;

      @media screen and (min-width: 992px) {
        @include animate(fewClouds, 0%, 90%, 100%, 60%, 0%, 25%, 600s);
        background-size: auto;
      }
    }

    &.moderate-rain,
    &.light-rain {
      background-image: url("../../media/images/forecast/rain.png"),
        url("../../media/images/forecast/overcast_clouds.png");
      background-size: 200% 200%, auto;

      @media screen and (min-width: 992px) {
        @include animate(moderateRain, 0%, 100%, 0%, 50%, 0%, 0%, 300s);
      }

      @media screen and (max-width: 768px) {
        background-size: auto;
      }
    }

    &.broken-clouds {
      background-image: url("../../media/images/forecast/broken_clouds.png");
      background-size: cover;

      @media screen and (min-width: 992px) {
        @include animate(brokenClouds, 0%, 90%, 100%, 60%, 0%, 25%, 600s);
        background-size: auto;
      }
    }

    &.scattered-clouds {
      background-image: url("../../media/images/forecast/broken_clouds.png");
      background-size: cover;

      @media screen and (min-width: 992px) {
        @include animate(scatteredClouds, 0%, 90%, 100%, 60%, 0%, 25%, 600s);
        background-size: auto;
      }
    }

    .weather-card-field-wrapper {
      margin-top: 16px;
      align-items: center;
    }

    .weather-card-field-value {
      font-weight: 500;
    }

    .weather-card-field-label {
      margin-right: 4px;
      font-weight: 300;
    }

    @media screen and (max-width: 767px) {
      .MuiAccordionSummary-root {
        padding: 0;
      }
    }

    .weather-card-accordion-summary {
      // padding: 0px;
      display: flex;
      flex-direction: column;

      .summary {
        display: flex;
        padding: 0 !important;
        margin: 0;
        width: 100%;
        justify-content: space-between;

        @media (max-width: 768px) {
          padding: 0;
          margin: 0;
          flex-direction: column;
          align-items: center;
          align-content: center;
        }
      }

      .expanded {
        margin: 0;
      }
    }

    .weather-card-section {
      width: 100%;
      display: flex;
      justify-content: stretch;
      align-items: center;
    }

    .weather-card-title,
    .weather-card-description {
      mix-blend-mode: difference;
      margin: 8px 0 8px;
      filter: contrast(0.1);
    }

    .weather-card-temp-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;

      .weather-card-temp {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        // mix-blend-mode: difference;
        // filter: contrast(0.3);

        // &:not(.uv-index) {
        //   mix-blend-mode: difference;
        //   filter: contrast(0.3);
        // }

        // &.uv-index {
        //   span {
        //     mix-blend-mode: difference;
        //     filter: contrast(0.3);
        //   }
        // }

        & > .temp-uv-index {
          margin-right: 4px;

          @media screen and (max-width: 992px) {
            margin-left: 4px;
          }
        }
      }

      @media (max-width: 768px) {
        width: 100%;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 16px;
      }

      // .temp-hot,
      // .temp-cold,
      // .temp-humidity {
      //   vertical-align: middle;
      //   margin-left: 4px;
      //   margin-right: 8px;
      // }
    }

    .weather-card-general-info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      // mix-blend-mode: difference;
      // filter: contrast(0.3);
      width: 100%;

      @media (max-width: 769px) {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
      }

      @media (max-width: 400px) {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
      }

      @media (max-width: 992px) {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
      }
      .weather-card-sunrise,
      .weather-card-sunset {
        margin-top: 16px;

        @media screen and (max-width: 767px) {
          flex: 0 0 33%;
        }
      }
    }
    .weather-card-overview {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @media (max-width: 768px) {
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }

      .weather-card-icon-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        vertical-align: middle;
        justify-content: space-evenly;

        .weather-card-icon {
          width: 65px;
          height: auto;
          margin: 0 8px 0 -8px;

          // &._01d,
          // &._01n {
          //   width: 50px;
          // }
        }
      }
    }
  }
}
