
form {
  input {
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
    border: 0;
    border-radius: 50px;
    background-color: #3a3b3c;
    margin: 0 8px;
    font-size: 16px;
    color: #ecf3ff;
    outline: none;
  }
}
